.about-us-left {
  background-color: #efefef;
  /* min-height: 300px; */
  padding: 60px;
  margin-top: 21px;
  border-radius: 0 24px 24px 0;
}
.about-us-left h4 {
  border-bottom: 1px solid #c9c9c9;
  padding-bottom: 18px;
  font-size: 18px;
  color: rgb(22, 21, 21);
}
.about-us-left p {
  padding: 26px;
  font-size: 17px;
  line-height: 32px;
  color: #6b6666;
}
.about-us-left a {
  background-color: orange;
  padding: 5px 10px;
  border-radius: 3px;
  color: #fff;
  float: left;
  margin-left: 30px;
  font-size: 16px;
  transition: all 0.3s linear;
}
.about-us-left a:hover {
  border-radius: 0 10px 0 10px;
}
