.container-fluid-custom {
  background-color: #041121;
  color: #fff;
  height: 40px;
}
.container-fluid-custom .contact {
  font-size: 15px;
}
.container-fluid-custom .contact i {
  color: orange;
  vertical-align: -10px;
  margin-right: 15px;
}
.container-fluid-custom .contact span {
  color: #fff;
  margin: 5px;
  vertical-align: 1px;
}
.container-fluid-custom .social-media {
  direction: ltr;
}
.container-fluid-custom .social-media i {
  vertical-align: -10px;
  margin-right: 3px;
  padding: 10px 12px;
  width: 40px;
}
.container-fluid-custom .social-media .telegram:hover {
  background-color: #0088cc;
}
.container-fluid-custom .social-media .instagram:hover {
  background-color: #dd2a7b;
}
.container-fluid-custom .social-media .facebook:hover {
  background-color: #1877f2;
}
.container-fluid-custom .social-media .twitter:hover {
  background-color: #1da1f2;
}
.container-fluid-custom .social-media .linkdin:hover {
  background-color: #0a66c2;
}
.container-fluid-custom .social-media a {
  color: #fff;
  transition: all 0.3s ease;
}
