.section-title span {
  position: relative;
  color: black;
  font-size: 13px;
  display: inline-block;
}
.section-title span::before {
  content: "";
  width: 40px;
  height: 3px;
  background-color: orange;
  position: absolute;
  top: 10px;
  right: -43px;
}
.section-title span::after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: orange;
  position: absolute;
  top: 10px;
  right: 93px;
}
.course-section-wrapper .card-body {
  margin: 5px 10px;
  padding-bottom: 16px;
}
.card-body img {
  width: 32px;
  height: 32px;
  filter: brightness(0.5);
  margin: 5px;
  vertical-align: -33px;
}
.card-body .course-title {
  top: 7px;
  right: 65px;
}
.card-body .course-title a {
  font-size: 16px;
}
.card-body .course-title p {
  font-size: 14px;
  color: #adadad;
}
.card {
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px #e9e6e6;
}
.card-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0;
  transition: all 0.5s ease-in;
}
.card:hover .card-overlay {
  opacity: 1;
}
.card-overlay p {
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
}
.course-wrapper {
  background-image: url("../img/common_img.png");
  background-attachment: fixed;
}
