.img-header {
  height: 90vh;
}
.overlay {
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.2); */
  height: 90vh;
}
.header-title {
  color: #00cff5;
  margin: 290px;
  max-width: 500px;
}
.header-title a {
  background-color: orange;
  padding: 5px 10px;
  border-radius: 3px;
  color: #fff;
  float: left;
  margin-left: 30px;
}
@media screen and (max-width: 1200px) {
  .header-title {
    width: 100%;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
    border-radius: 5px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .overlay,
  .img-header {
    height: 100%;
  }
}
@media screen and (max-width: 678px) {
  .header-title h1 {
    font-size: 20px;
  }
  .header-title h3 {
    font-size: 16px;
  }
  .header-title a {
    font-size: 15px;
  }
}
