.stat-section-wrapper {
  background-color: #f1f1f1;
  min-height: 250px;
}
.stat-section-wrapper img {
  margin-top: 25px;
}
.stat-section-wrapper .count {
  color: rgb(29, 16, 16);
  font-size: 20px;
  margin: 30px;
}
.stat-section-wrapper .count-title {
  font-size: 18px;
}
